div {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  animation-name: my-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes my-animation {
  from {background-color: blueviolet;}
  to {background-color: yellow;}
}
/* @keyframes my-animation {
  0% {background-color: blueviolet;}
  50% {background-color: yellow;}
  100% {background-color: blueviolet;}
} */